<div class="tumli-select tumli-select--style-3 text-nowrap tumli-input full-width error">
  <div class="tumli-select__title flex flex--align-center flex--justify-between">
    <div class="tumli-select__title-text flex--11-auto pr-l">Ukraine</div>
    <div class="tumli-select__arrow flex--00-auto error__hide-on-error">
      <svg class="block fill-accent-color" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25"></polygon>
      </svg>
    </div>

    <div class="error__content">Field is not valid</div>
    <div class="error__icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px"
        viewBox="0 0 20 20" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-993.000000, -682.000000)" fill="#DF0F0F" fill-rule="nonzero">
            <path
              d="M1003,682 C997.48,682 993,686.48 993,692 C993,697.52 997.48,702 1003,702 C1008.52,702 1013,697.52 1013,692 C1013,686.48 1008.52,682 1003,682 Z M1003,697 C1002.45,697 1002,696.55 1002,696 L1002,692 C1002,691.45 1002.45,691 1003,691 C1003.55,691 1004,691.45 1004,692 L1004,696 C1004,696.55 1003.55,697 1003,697 Z M1004,689 L1002,689 L1002,687 L1004,687 L1004,689 Z">
            </path>
          </g>
        </g>
      </svg>
    </div>

  </div>

  <!-- Select -->
  <select name="country" class="full-width tumli-select__field tumli-input__field">
    <option value="ua">Ukraine</option>
    <option value="pl">Poland</option>
  </select>
  <!-- /Select -->

  <span class="tumli-input__placeholder">Country</span>

  <div class="tumli-select__options">
    <ul class="tumli-select__list text-style-7 js-add-list-delay">
      <li class="tumli-select__list-item flex flex--align-center" data-value="ua" data-index="0" data-title="Ukraine">
        <span class="text-style-7 pr-default">
          Ukraine
        </span>
      </li>
      <li class="tumli-select__list-item flex flex--align-center" data-value="pl" data-index="1" data-title="Poland">
        <span class="text-style-7 pr-default">
          Poland
        </span>
      </li>
    </ul>
  </div>
</div>