<div class="tumli-select tumli-select--hover tumli-select--style-2 text-nowrap tumli-input full-width error pl-xs">
  <div class="tumli-select__title flex flex--align-center flex--justify-between">

    <div class="tumli-select__title-text flex--11-auto pt-default pb-default filter-icon-width">
      <svg class="block" width="20px" height="14px" viewBox="0 0 18 12" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-944.000000, -92.000000)">
            <g transform="translate(941.000000, 86.000000)">
              <path
                d="M10,18 L14,18 L14,16 L10,16 L10,18 Z M3,6 L3,8 L21,8 L21,6 L3,6 Z M6,13 L18,13 L18,11 L6,11 L6,13 Z"
                fill="#605DD4" fill-rule="nonzero" />
              <polygon points="0 0 24 0 24 24 0 24" />
            </g>
          </g>
        </g>
      </svg>
    </div>

    <div class="error__content">Field is not valid</div>
    <div class="error__icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px"
        viewBox="0 0 20 20" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-993.000000, -682.000000)" fill="#DF0F0F" fill-rule="nonzero">
            <path
              d="M1003,682 C997.48,682 993,686.48 993,692 C993,697.52 997.48,702 1003,702 C1008.52,702 1013,697.52 1013,692 C1013,686.48 1008.52,682 1003,682 Z M1003,697 C1002.45,697 1002,696.55 1002,696 L1002,692 C1002,691.45 1002.45,691 1003,691 C1003.55,691 1004,691.45 1004,692 L1004,696 C1004,696.55 1003.55,697 1003,697 Z M1004,689 L1002,689 L1002,687 L1004,687 L1004,689 Z">
            </path>
          </g>
        </g>
      </svg>
    </div>

  </div>

  <!-- Select -->
  <select name="filter"
    class="full-width tumli-select__field tumli-input__field tumli-input__field--default-paddings full-height">
    <option value="id1">Last save to</option>
    <option value="id2">Downloaded</option>
    <option value="id3">Collections</option>
  </select>
  <!-- /Select -->


  <div class="tumli-select__options tumli-select__options--animate tumli-select__options--bottom tumli-select__options--left">
    <ul class="tumli-select__list text-style-7">
      <li
        class="tumli-select__list-item tumli-select--accent-color-on-active flex flex--align-center min-height-unset pt-sm pb-sm js-add-animation-delay"
        data-value="id1" data-index="0" data-use-html>
        <span class="text-style-7 pr-default">
          Last save to
        </span>
        <div data-use-html class="hide">
          <svg class="block" width="20px" height="14px" viewBox="0 0 18 12" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-944.000000, -92.000000)">
                <g transform="translate(941.000000, 86.000000)">
                  <path
                    d="M10,18 L14,18 L14,16 L10,16 L10,18 Z M3,6 L3,8 L21,8 L21,6 L3,6 Z M6,13 L18,13 L18,11 L6,11 L6,13 Z"
                    fill="#605DD4" fill-rule="nonzero" />
                  <polygon points="0 0 24 0 24 24 0 24" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </li>

      <li
        class="tumli-select__list-item tumli-select--accent-color-on-active flex flex--align-center min-height-unset pt-sm pb-sm js-add-animation-delay"
        data-value="id2" data-index="1" data-use-html>
        <span class="text-style-7 pr-default">
          Downloaded
        </span>
        <div data-use-html class="hide">
          <svg class="block" width="17px" height="14px" viewBox="0 0 17 14" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-982.000000, -92.000000)" fill="#605DD4" fill-rule="nonzero">
                <path
                  d="M982,98.1025641 L987,98.1025641 L987,92 L982,92 L982,98.1025641 Z M982,105.222222 L987,105.222222 L987,99.1196581 L982,99.1196581 L982,105.222222 Z M988,105.222222 L993,105.222222 L993,99.1196581 L988,99.1196581 L988,105.222222 Z M994,105.222222 L999,105.222222 L999,99.1196581 L994,99.1196581 L994,105.222222 Z M988,98.1025641 L993,98.1025641 L993,92 L988,92 L988,98.1025641 Z M994,92 L994,98.1025641 L999,98.1025641 L999,92 L994,92 Z" />
              </g>
            </g>
          </svg>
        </div>
      </li>

      <li
        class="tumli-select__list-item tumli-select--accent-color-on-active flex flex--align-center min-height-unset pt-sm pb-sm js-add-animation-delay"
        data-value="id3" data-index="2" data-use-html>
        <span class="text-style-7 pr-default">
          Collections
        </span>
        <div data-use-html class="hide">
          <svg class="block" width="17px" height="14px" viewBox="0 0 17 14" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-982.000000, -92.000000)" fill="#605DD4" fill-rule="nonzero">
                <path
                  d="M982,98.1025641 L987,98.1025641 L987,92 L982,92 L982,98.1025641 Z M982,105.222222 L987,105.222222 L987,99.1196581 L982,99.1196581 L982,105.222222 Z M988,105.222222 L993,105.222222 L993,99.1196581 L988,99.1196581 L988,105.222222 Z M994,105.222222 L999,105.222222 L999,99.1196581 L994,99.1196581 L994,105.222222 Z M988,98.1025641 L993,98.1025641 L993,92 L988,92 L988,98.1025641 Z M994,92 L994,98.1025641 L999,98.1025641 L999,92 L994,92 Z" />
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>