<div class="grid__item box-model-default flex">
  <div class="flex--11-auto flex flex--direction-column">
    <div class="h3 h3--remove-line-height mt-auto">
      <div class="block js-hover-box__item--accent-color u-overflow-hidden u-ellipsis text-nowrap tumli-product__title-text">
        Collections
      </div>
      <div class="tumli-author-view__by text-style-1 remove-line-height">
        Saved 18 items
      </div>
    </div>
  </div>

  <div class="flex--00-auto pl-default flex flex--direction-column">
    //= ./collectionDropdown.html
  </div>
</div>

