/*
* Input style
*/
.input-small {
    padding: 8px 20px;
    font-size: pxToRem(13px);
    line-height: getLineHeight(13px, 32px);
    background-color: var(--color1);
    border-color: var(--color1);
    height: $inputSmallHeight;

    &:focus {
        font-size: pxToRem(13px);
    }

    &:not(:disabled) {
        &:hover {
            background-color: var(--color2--opacity);
        }
    }
}

.input-large {
    font-size: 16px;
    padding: 10px 31px;
    line-height: getLineHeight($html-font-size, 38px);
    background-color: var(--color1);
    border-color: var(--color1);
    height: 60px;

    &:focus {
        font-size: 16px;
    }

    @media(min-width: $desktop) {
        font-size: pxToRem(16px);

        &:focus {
            font-size: pxToRem(16px);
        }
    }

    &:not(:disabled) {
        &:hover {
            background-color: var(--color2--opacity);
        }
    }
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
