<!-- Cart Purchase Promo Code -->
<!-- <div data-promo-code-discount-value=""> -->
<div class="anim-box">
  <div class="purchase-form__promo-code-info anim-box__opacity">
    <hr>
    <div class="flex flex--align-center pt-sm pb-sm min-height-50px purchase-form__promo-code-info">
      <div class="flex--11-auto">
        <span class="text-style-7 pr-sm">
          Discount: <span data-promo-code-string>
            <!-- Jk0829|WK -->
          </span>
        </span>

        <!-- = ./CartInfoBox.html -->
      </div>

      <div class="flex--00-auto text-style-7 flex flex--align-center price-value" data-price-value="0">
        <a class="link-style-1 block purchase-form__show-promo-code flex--00-auto" href="#">
          <div class="price-value__show-if-price">
            Change Code
          </div>
          <span class="price-value__hide-if-price">
            Apply Code
          </span>
        </a>
        <div class="price-value__show-if-price pl-default flex--00-auto success-color" data-promo-code-discount>
          -$0.00
        </div>
      </div>
    </div>

  </div>

  <div class="flex flex--align-center min-height-50px purchase-form__promo-code-input anim-box__opacity">
    //= ./CartPurchasePromoCodeInput.html
  </div>
</div>
<!-- /Cart Purchase Promo Code -->