<article class="tumli-post-carousel__item u-relative tumli-post-carousel__item--purcahse hover-box">
  <div class="square-image-wrapper image-hover image-hover--border-radius-3">
    <img class="block block--center full-width"
      src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-DGNV4lY2B8Q%2FURpnGVG3KQI%2FAAAAAAAAEMI%2FIGfVeriUAv0%2Fs1600%2FFunny_wallpapers_Angry_Bear_021717_.jpg&amp;f=1"
      alt="Avatar Dr Hulikulus">
    //= ./CartProductBundleTitle.html
  </div>

  <div class="tumli-product__info">
    <div class="tumli-product__shares"></div>
    <div class="tumli-product__info-links">
      <!-- <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank" class="tumli-product__price tumli-product__price--paid">
        $12
      </a> -->
    </div>
  </div>

</article>