<div class="tumli-product__content--absolute-bottom p-l-md p-default-sm p-default-xs">
  <div class="tumli-product__content-text">
    <div class="link-style-1">
      <!-- Desktop only -->
      <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank"
        class="block u-overflow-hidden color4 hover-box__item hover-box__item--show-on-hover hide-xs max-text-line-3 remove-line-height">
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
      </a>
      <!-- /Desktop only -->

      <!-- Tablet-Mobile only -->
      <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank"
        class="block color4 hover-box__item hover-box__item--show-on-hover text-nowrap u-ellipsis u-overflow-hidden hide-md hide-sm remove-line-height">
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
        Name of item
      </a>
      <!-- /Tablet-Mobile only -->
    </div>
  </div>
</div>