<!-- Cart Product 3 -->
<!-- 
cart-product
cart-product__remove
cart-product__image
-->
<div class="purchase-product box-model-1 box-hover-2 grid grid--product-item box-model-out-indent-b js-hover-box"
  data-purchase-product-id="2">

  <!-- Product Image -->
  <div class="grid__item grid__item--col-end-2 grid__item--row-end-desktop-2 grid__item--col-8-xs">
    //= ./CartProductImage2.html
  </div>
  <!-- /Product Image -->

  <!-- Product Info -->
  <div class="grid__item grid__item--col-end-6 box-model-default-l box-model-default-r pb-l box-model-default-t flex grid__item--col-8-xs">
    <div class="flex--11-auto">
      <div class="h3 h3--remove-line-height pb-default">
        <a class="block js-hover-box__item js-hover-box__item--accent-color" href="#" target="_blank">
          Business Card Presentation VOL. 1
          Mock-ups international in two rows
        </a>
      </div>
      //= ./CartProductAuthor.html
    </div>

    <div class="flex--00-auto pl-default flex flex--direction-column-reverse-mobile ">
      <div class="hide-md hide-sm flex--00-auto mt-auto pt-l">
        //= ./CartProductRemoveSelect.html
      </div>

      <div class="flex--00-auto text-style-2 pl-sm remove-line-height pb-xs" data-discount-amount>
        $5.50
      </div>
    </div>
  </div>
  <!-- /Product Info -->

  <!-- Product Options -->
  <div class="grid__item grid__item--col-end-8 grid__item--col-end-desktop-6 mt-auto">
    <div class="hide-md box-model-default-b">
      <hr>
    </div>

    <div class="box-model-default-l box-model-default-r box-model-default-b flex flex--align-center">

      <div class="flex--01-auto">
        //= ./CartProductFormatSelect.html
      </div>


      <div class="flex--01-auto pl-sm">
        //= ./CartProductLicenseSelect.html
      </div>

      <div class="flex--00-auto pl-sm">
        //= ./CartInfoBox.html
      </div>

      <!-- Remove -->
      //= ./CartRemove.html
      <!-- Remove -->

    </div>

    <div class="hide-md">
      <hr>
    </div>

    <hr class="hide-sm hide-xs">
  </div>
  <!-- /Product Options -->

  <!-- Cart Product Extra Items -->
  <div class="grid__item grid__item--col-end-8 purchase-product__hide-on-remove">
    <!-- <hr class="hide-sm hide-xs"> -->

    <div class="box-model-default-l box-model-default-r box-model-default-t">

      <div class="flex flex--align-center flex--wrap">
        <div class="flex--00-auto text-style-1 remove-line-height">
          Included Items
        </div>

        <div class="flex--00-auto pl-sm remove-line-height">
          //= ./CartInfoBox.html
        </div>

        <!-- Crossell count -->
        <div class="flex--00-auto pl-l pr-l">
          <span class="text-style-4 remove-line-height u-relative">
            <span class="absolute-centered" data-crossell-product-count>2</span>
            <span class="visibility-hidden pr-xs">7</span>
          </span>
          <span class="text-style-1 remove-line-height">/</span>
          <span class="text-style-1 remove-line-height">7</span>
        </div>
        <!-- /Crossell count -->

        <div class="flex--11-auto flex purchase-product__crossell-select-all-wrapper">
          <!-- Crossell tumbler -->
          <span class="text-style-4 remove-line-height cursor-pointer purchase-product__crossell-select-all">
            <span class="purchase-product__crossell-select-all-show-on-checked">
              Select None
            </span>
            <span class="purchase-product__crossell-select-all-hide-on-checked">
              Select All
            </span>
          </span>
          <!-- /Crossell tumbler -->

          <!-- Crossell price -->
          <div class="flex--00-auto text-style-7 pl-sm remove-line-height ml-auto" data-crossell-amount>
            $8.99
          </div>
          <!-- /Crossell price -->
        </div>


      </div>

    </div>

    <div class="u-relative mt-l u-overflow-hidden-xs">
      <div class="tumli-post-carousel-wrapper tumli-post-carousel-wrapper--no-line">
        <div class="tumli-post-carousel pt-0 box-model-default-l box-model-default-r">
          <div
            class="tumli-post-carousel__items tumli-post-carousel__items--4 tumli-post-carousel__items--purchase">

            //= ./CartProduct3IncludedProduct.html
            //= ./CartProduct3IncludedProduct.html
            //= ./CartProduct3IncludedProduct.html
            //= ./CartProduct3IncludedProduct.html
            //= ./CartProduct3IncludedProduct.html
            //= ./CartProduct3IncludedProduct.html
            //= ./CartProduct3IncludedProduct.html

          </div>

          <!-- DELETE IN PROD -->
            <script>
              // Only for test
              if (window.count === undefined) {
                count = 0;
              }

              const js = document.querySelectorAll('.js-has-script');

              js.forEach(parent => {
                const input = parent.querySelector('input');
                setCount(input);
              });


              function setCount(input) {
                input.setAttribute('data-property-name', 'crossell.' + count);
                input.setAttribute('name', 'crossell.' + count);
                count++;
              }
            </script>

        </div>
      </div>
    </div>

    <!-- Additionaly -->
    <div class="box-model-default-l box-model-default-r mb-l">
      //= ./CartProductAdditionaly.html
    </div>
    <!-- /Additionaly -->

    <div
      class="box-model-default-l box-model-default-r pb-xl-md pb-l-sm pb-l-xs text-right text-style-3 h3--remove-line-height">
      Total:&nbsp;<span data-total-amount>$23.99</span>
    </div>

  </div>
  <!-- /Cart Product Extra Items -->


  <script>
    if (!window.tumli) {
      window.tumli = {};
    }

    if (!window.tumli.purchaseProduct) {
      window.tumli.purchaseProduct = {};
    }

    window.tumli.purchaseProduct['2'] = {
      id: "2",
      source: 'https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr',
      title: 'Colorful After School Care Brochure',
      thumbnail: 'https://tumli.net/files/uploads/2019/7/10/colorful-after-school-care-brochure-cover/colorful-after-school-care-brochure-cover.970x.jpg',
      amount: 1099,
      currency: "$",
      discount: 0,
      //= ./CartProductFormatJS.html
      support: {
        '12_month': {
          name: '12_month',
          amount: 899,
          used: false
        },
        'designer_support': {
          name: 'designer_support',
          amount: 2499,
          used: false
        }
      },
      crossell: {
        "0": {
          id: "0",
          amount: 499,
          used: false
        },
        "1": {
          id: "1",
          amount: 499,
          used: false
        },
        "2": {
          id: "2",
          amount: 499,
          used: false
        },
        "3": {
          id: "3",
          amount: 499,
          used: false
        },
        "4": {
          id: "4",
          amount: 499,
          used: false
        },
        "5": {
          id: "5",
          amount: 499,
          used: false
        },
        "6": {
          id: "6",
          amount: 499,
          used: false
        },
      }
    };
  </script>

</div>
<!-- /Cart Product 1 -->