<label class="tumli-post-carousel__item u-relative tumli-post-carousel__item--purcahse hover-box cursor-pointer">
  <div class="square-image-wrapper image-hover image-hover--border-radius-3">
    <img class="block block--center full-width"
      src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-DGNV4lY2B8Q%2FURpnGVG3KQI%2FAAAAAAAAEMI%2FIGfVeriUAv0%2Fs1600%2FFunny_wallpapers_Angry_Bear_021717_.jpg&amp;f=1"
      alt="Avatar Dr Hulikulus">
    //= ./CartProductBundleTitle.html
  </div>

  <!-- Checkbox -->
  <div class="tumli-checkbox flex purchase-product__crossell-checkbox cursor-pointer   js-has-script">

    <input class="purchase-product__crossell-product-checkbox" type="checkbox" name="crossell.0" data-onchange
      data-property-name="crossell.0">
    <span
      class="tumli-checkbox__icon tumli-checkbox__icon--round tumli-checkbox__icon--bold tumli-checkbox__icon--radio flex--00-auto mr-12">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="10px"
        viewBox="0 0 12 10" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
            <g transform="translate(461.000000, 991.000000)">
              <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
            </g>
          </g>
        </g>
      </svg>
    </span>
  </div>
  <!-- /Checkbox -->

  <div class="tumli-product__info flex--align-center top-0 left-0 full-width pt-sm pl-default pr-default">
    <div class="flex--11-auto">
    </div>
    <div class="tumli-product__info-links mt-0">
      <!-- /Desktop only -->
      <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank" class="tumli-product__price tumli-product__price--paid mt-0 hide-xs hide-sm">
        $4.99
      </a>
      <!-- /Desktop only -->
      <!-- Tablet-Mobile only -->
      <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank" class="mt-0 hide-md link-style-1 color4">
        $4.99
      </a>
      <!-- /Tablet-Mobile only -->
    </div>
  </div>

</label>