format: {
  formatId: 'photoshop',
  licenseId: 'regular',
  formatList: {
    'photoshop': {
      id: 'photoshop',
      title: 'Adobe Photoshop',
      thumbnail: 'https://source.unsplash.com/collection/993239/600x400',
      licenseList: {
        'regular': {
          id: 'regular',
          title: 'Regular License 1',
          amount: 1099,
        },
        'free': {
          id: 'free',
          title: 'Free License 1',
          amount: 0,
        },
        'extended': {
          id: 'extended',
          title: 'Extended License 1',
          amount: 1099,
        },
      },
    },
    'illustrator': {
      id: 'illustrator',
      title: 'Adobe Illustrator',
      thumbnail: 'https://source.unsplash.com/collection/993239/600x400',
      licenseList: {
        'regular': {
          id: 'regular',
          title: 'Regular License 2',
          amount: 2599,
        },
        'free': {
          id: 'free',
          title: 'Free License 2',
          amount: 0,
        },
        'extended': {
          id: 'extended',
          title: 'Extended License 2',
          amount: 5099,
        },
      },
    },
    'microsoft_document': {
      id: 'microsoft_document',
      title: 'Microsoft Document',
      thumbnail: 'https://source.unsplash.com/collection/993239/600x400',
      licenseList: {
        'regular': {
          id: 'regular',
          title: 'Regular License 3',
          amount: 3099,
        },
        'extended': {
          id: 'extended',
          title: 'Extended License 3',
          amount: 3599,
        },
      },
    },
    'microsoft_powerpoint': {
      id: 'microsoft_powerpoint',
      title: 'Microsoft PowerPoint',
      thumbnail: 'https://source.unsplash.com/collection/993239/600x400',
      licenseList: {
        'regular': {
          id: 'regular',
          title: 'Regular License',
          amount: 1399,
        },
        'extended': {
          id: 'extended',
          title: 'Extended License',
          amount: 6999,
        },
      },
    },
    'adobe_indesign': {
      id: 'adobe_indesign',
      title: 'Adobe InDesign',
      thumbnail: 'https://source.unsplash.com/collection/993239/600x400',
      licenseList: {
        'regular': {
          id: 'regular',
          title: 'Regular License',
          amount: 8999,
        },
        'extended': {
          id: 'extended',
          title: 'Extended License',
          amount: 99999,
        },
      },
    },
  },
},
