<div class="flex flex--justify-end">
  <label class="tumli-select tumli-select--style-2 text-nowrap">
    <div class="tumli-select__title flex flex--align-center flex--justify-between">
      <div class="tumli-select__title-text flex--11-auto text-style-4">
        <svg class="block ml-auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          width="16px" height="4px" viewBox="0 0 16 4" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-532.000000, -31.000000)" fill="currentColor" fill-rule="nonzero">
              <g transform="translate(528.000000, 21.000000)">
                <path
                  d="M6,10 C4.9,10 4,10.9 4,12 C4,13.1 4.9,14 6,14 C7.1,14 8,13.1 8,12 C8,10.9 7.1,10 6,10 Z M18,10 C16.9,10 16,10.9 16,12 C16,13.1 16.9,14 18,14 C19.1,14 20,13.1 20,12 C20,10.9 19.1,10 18,10 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 Z">
                </path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <!-- Select -->
    <select name="" class="full-width tumli-select__field height-1" data-action="select-remove">
      <option value="cancel">Cancel</option>
      <option value="save-and-remove">Save for later</option>
      <option value="remove">Remove</option>
    </select>
    <!-- /Select -->

    <div class="tumli-select__options">
      <ul class="tumli-select__list text-style-7 js-add-list-delay">
        <li class="tumli-select__list-item flex flex--align-center flex--between" data-value="cancel" data-index="0">
          <span class="text-style-7 pr-default">
            Cancel
          </span>
        </li>
        <li class="tumli-select__list-item flex flex--align-center flex--between" data-value="save-and-remove"
          data-index="1">
          <span class="text-style-7 pr-default">
            Save for later
          </span>
        </li>
        <li class="tumli-select__list-item flex flex--align-center flex--between" data-value="remove" data-index="2">
          <span class="text-style-7 pr-default">
            Remove
          </span>
        </li>
      </ul>
    </div>
  </label>
</div>