<!-- Tumli Credits -->
<!-- TODO: Перебрати блоки -->
<div class="block tumli-purchase__credit-card tumli-purchase-payment tumli-radiobox">

  <input type="radio" required="" name="" id="cart-purchase-credits" value="card" checked>

  <div class="input-box input-box--animate-content tumli-sticky-block__hide-on-fixed-if-not-checked u-overflow-hidden">
    <!-- <div class="input-box input-box--animate-content u-overflow-hidden"> -->

    <div class="">

      <div class=" box-model-default-l box-model-default-r">
        <hr class="input-box__hide-on-checked">
      </div>

      <div class="full-width box-model-default-l box-model-default-r tumli-purchase-payment__body">

        <div class="flex flex--between flex--align-center">

          <div class="flex--11-auto">

            <label for="cart-purchase-credits"
              class="tumli-radiobox flex flex--wrap tumli-purchase__credit-card-body input-box__cursor-pointer-on-unchecked">
              <span class="tumli-radiobox__icon flex--00-auto hide">
              </span>
              <span class="flex--11-auto tumli-radiobox__title" title="MASTERCARD">
                <span class="pl-0 mt-0 mb-0 h3 flex flex--align-center mr-0">
                  <span class="flex--11-auto input-box__accent-color-on-checked">
                    Tumli Credits
                  </span>
                  <span class="flex--00-auto text-style-2 input-box__show-on-checked" data-total-amount>$11.00</span>

                  <span class="flex--00-auto input-box__hide-on-checked mr--6">
                    <svg class="block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25" fill="currentColor">
                      </polygon>
                    </svg>
                  </span>
                </span>

                <div class="flex--00-auto text-style-7 flex flex--align-center">
                  <a class="link-style-1 pr-default block" href="#">Refill</a>
                  <span class="block success-color" data-balance>
                    $6.00
                  </span>
                </div>

                <!-- Credit card error -->
                <span
                  class="u-relative text-style-5 tumli-radiobox__text-desc tumli-radiobox__text-desc--block input-box__show-on-checked tumli-purchase__credit-card-text pl-0">
                  <span class="block">
                    Secure and encrypted money transfer using your bank Credit / Debit Card
                  </span>
                </span>
                <!-- /Credit card error -->
              </span>

              <div
                class="flex--00-auto full-width input-box__hide-on-checked tumli-purchase__credit-card-bottom-indent">
              </div>
            </label>

          </div>

          <div class="flex--00-auto error-color text-style-1">
          </div>
        </div>

      </div>

      <div class=" box-model-default-l box-model-default-r">
        <hr class="input-box__hide-on-checked">
      </div>

    </div>

  </div>


</div>
<!-- /Tumli Credits -->