<!-- Cart Purchase Balance -->
<hr class="purchase-form__promo-code-info">
<div class="flex flex--align-center pt-sm pb-sm min-height-50px">
  <div class="flex--11-auto">
    <span class="text-style-7 pr-sm">
      Tumli Credits:
    </span>

    <!-- = ./CartInfoBox.html -->
  </div>

  <div class="flex--00-auto text-style-7 flex flex--align-center">
    <a class="link-style-1 pr-default block" href="#">Refill</a>
    <span class="block success-color" data-balance>
      $6.00
    </span>
  </div>
</div>
<!-- /Cart Purchase Balance -->