<div class="tumli-select js-select--license tumli-select--style-1 text-nowrap tumli-purchase__license-select">
  <div class="tumli-select__title flex flex--align-center flex--justify-between">
    <div class="tumli-select__title-text flex--11-auto text-style-4 pr-l">Regular License</div>
    <div class="tumli-select__arrow flex--00-auto">
      <svg class="block fill-accent-color" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25"></polygon>
      </svg>
    </div>

  </div>

  <!-- Select -->
  <select name="" class="full-width tumli-select__field" data-onChange data-property-name="license">
    <option value="regular">Regular License</option>
    <option value="free">Free Lisence</option>
    <option value="extended">Extended License</option>
  </select>
  <!-- /Select -->

  <div class="tumli-select__options">
    <ul class="tumli-select__list text-style-7 js-add-list-delay">
      <li class="tumli-select__list-item flex flex--align-center flex--between" data-value="regular"
        data-index="0" data-title="Regular License">
        <span class="text-style-7 pr-default">
          Regular License
        </span>
        <span class="text-style-1 tumli-select--main-color-on-active">$10.99</span>
      </li>
      <li class="tumli-select__list-item flex flex--align-center flex--between" data-value="free" data-index="1" data-title="Free License">
        <span class="text-style-7 pr-default">
          Free License
        </span>
        <span class="text-style-1 tumli-select--main-color-on-active">$0</span>
      </li>
      <li class="tumli-select__list-item flex flex--align-center flex--between" data-value="extended" data-index="2" data-title="Extended License">
        <span class="text-style-7 pr-default">
          Extended License
        </span>
        <span class="text-style-1 tumli-select--main-color-on-active">$10.99</span>
      </li>
    </ul>
  </div>
</div>