<a href="#" class="set-preloader block square-image-wrapper min-full-height purchase-product__image image-hover image-hover--border-radius-1 js-hover-box__item u-none-br-mobile-bl u-none-br-tablet-bl u-br-tr-default-sxs" target="_blank">
  <img class="u-none-br-tr u-none-br-br u-none-br-mobile-bl u-none-br-tablet-bl"
    src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-DGNV4lY2B8Q%2FURpnGVG3KQI%2FAAAAAAAAEMI%2FIGfVeriUAv0%2Fs1600%2FFunny_wallpapers_Angry_Bear_021717_.jpg&amp;f=1"
    alt="Product title">
</a>