<!-- Cart Product List -->
<hr>

<div class="flex--00-auto text-style-1 remove-line-height pt-xl pb-l box-model-default-l box-model-default-r">
  Conditionally
</div>


<div class="block-desktop box-model-default-l box-model-default-r">
  
  <hr>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Access to over 20k premium
      teplates
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Premium Downloads
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Free items Downloads
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Access to new items
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Support
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Private using
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Commercial using
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Unlimited times usind
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>

  <div class="price__option flex flex--between flex--align-center pl-0 pr-0">
    <div class="price__option-text price__option-text--show-text flex--11-auto text-style-7">
      Cancel any time
    </div>
    <div class="price__option-status price__option-status--show-text flex--00-auto text-style-7">
      <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
        fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
      </svg>
    </div>
  </div>


</div>
<!-- /Cart Product List -->