<div class="tumli-product-info tumli-product-info--type-post tumli-product-info--purchase-info tumli-content tumli-product-info--color-price"
  target="_blank" rel="nofollow">
  <!-- <div class="tumli-product-info__img image-hover">
    <img class="tumli-product-info__img-node"
      src="https://tumli.net/files/uploads/2019/7/31/Awesome Flyers And Posters Bundle/flyer-poster-bundle-0-cover.970x.jpg"
      alt="Flyer And Poster Multipurpose Business Bundle">
  </div> -->
  <div class="tumli-product-info__content">
    <div class="h3 mb-0 mt-0 tumli-product__title tumli-product-info__title">
      <span class="color4 tumli-product-info__title-scroll">
          Item saved. You can add them to your cart through the “My Items” or from bottom of this page.
      </span>
    </div>

    <div class="tumli-product-info__actions">
      <span class="text-style-7 tumli-product-info__close cursor-pointer">
        <span>
          Close
        </span>
      </span>
    </div>
  </div>
</div>