<article class="tumli-post-carousel__item u-relative tumli-post-carousel__item--purcahse hover-box">
  <div class="square-image-wrapper image-hover image-hover--border-radius-3">
    <img class="block block--center full-width"
      src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-DGNV4lY2B8Q%2FURpnGVG3KQI%2FAAAAAAAAEMI%2FIGfVeriUAv0%2Fs1600%2FFunny_wallpapers_Angry_Bear_021717_.jpg&amp;f=1"
      alt="Avatar Dr Hulikulus">
    //= ./CartProductBundleTitle.html
  </div>

  <div class="tumli-product__info">
    <div class="tumli-product__shares"></div>
    <div class="tumli-product__info-links">
      <a href="#" data-modal-id="download" data-modal-action="open" data-product-id="605" rel="nofollow"
        class="ml-0 download-icon-wrapper flex--00-auto min-width-unset tumli-product__price tumli-product__price--free">
        <svg class="block absolute-centered" xmlns="http://www.w3.org/2000/svg" width="17" height="17"
          viewBox="0 0 24 24" fill="#fff">
          <path
            d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z">
          </path>
        </svg>
      </a>
    </div>
  </div>

</article>