<header class="flex flex--between mt-l box-model-default-tlr mb-default">
  <div class="tumli-popular-post__heading h2 mb-0">
    <span class="tumli-popular-post__title">
      <a href="#" class="tumli-popular-post__title-scroll" rel="nofollow">
        Recently Purchases
      </a>
    </span>
  </div>
  <a class="flex--00-auto link-style-9" href="https://tumli.net/journal" rel="nofollow">
    All Purchases
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
      viewBox="0 0 24 24" version="1.1">
      <g transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
        <polygon points="15.41 7.41 14 6 8 12 14 18 15.41 16.59 10.83 12"></polygon>
      </g>
    </svg>
  </a>
</header>

<div class="box-model-default-lr">
  <hr>
</div>

<div class="u-relative tumli-post-carousel-section">
  <div class="tumli-post-carousel-wrapper pt-l-sm pt-l-xs pt-xl-md">
    <div class="tumli-post-carousel  box-model-default-l  box-model-default-r pt-0">
      <div
        class="tumli-post-carousel__items tumli-post-carousel__items--4 tumli-post-carousel__items--purchase box-model-default-r tumli-post-carousel__items--show-after">

        //= ./RecentlyPurchasesItem.html
        //= ./RecentlyPurchasesItem.html
        //= ./RecentlyPurchasesItem.html
        //= ./RecentlyPurchasesItem.html
        //= ./RecentlyPurchasesItem.html

      </div>
    </div>
  </div>
</div>

<div class="pt-l-sm pt-l-xs pt-xl-md">
  <hr>
</div>

<div class="text-center text-style-1 box-model-default">
  If you have some questions about payment, please check our <a href="#">FAQ</a>
</div>
