<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Links</title>
  <link rel="stylesheet" type="text/css" href="../../../../../css/main.css">
</head>

<body>

  <main>

    <section class="tumli-container">

      <h1 class="text-center">Links</h1>

      <ul>
        <li>
          <span class="h6">Default:</span>
          <br>
          <a href="#">Default</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-1</code></span>
          <br>
          <a class="link-style-1" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-2</code></span>
          <br>
          <a class="link-style-2" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-3</code></span>
          <br>
          <a class="link-style-3" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-4</code></span>
          <br>
          <a class="link-style-4" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-5</code></span>
          <br>
          <a class="link-style-5" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-6</code></span>
          <br>
          <a class="link-style-6" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-7</code></span>
          <br>
          <a class="link-style-7" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-8</code></span>
          <br>
          <a class="link-style-8" href="#">Link style</a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-9</code></span>
          <br>
          <a class="link-style-9" href="#">
            Link style
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
              viewBox="0 0 24 24" version="1.1">
              <g transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
                <polygon points="15.41 7.41 14 6 8 12 14 18 15.41 16.59 10.83 12"></polygon>
              </g>
            </svg>
          </a>
        </li>

        <li>
          <span class="h6">Code: <code>.link-style-10</code></span>
          <br>
          <a class="link-style-10" href="#">Link style</a>
        </li>

      </ul>

    </section>

  </main>

</body>

</html>