<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paragraphs</title>
  <link rel="stylesheet" type="text/css" href="../../../../../css/main.css">
</head>

<body>

  <main>

    <section class="tumli-container">

      <h1 class="text-center">Paragraphs</h1>

      <ul>
        <li>
          <span class="h6">Default paragraph:</span>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Lead: <code>.lead</code></span>
          <p class="lead">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.page-desc</code></span>
          <p class="page-desc">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.note</code></span>
          <p class="note">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-1</code></span>
          <p class="text-style-1">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-2</code></span>
          <p class="text-style-2">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-3</code></span>
          <p class="text-style-3">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-4</code></span>
          <p class="text-style-4">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-5</code></span>
          <p class="text-style-5">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-6</code></span>
          <p class="text-style-6">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

        <li>
          <span class="h6">Description: <code>.text-style-7</code></span>
          <p class="text-style-7">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>
        </li>

      </ul>

    </section>

  </main>

</body>

</html>