<article class="tumli-product tumli-post-carousel__item is-show">
  <div class="tumli-product__thumb">
    <a class="image-hover tumli-product__thumb-img-wrapper square-image-wrapper"
      href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
      target="_blank">
      <img
        src="https://tumli.net/files/uploads/2019/7/10/colorful-after-school-care-brochure-cover/colorful-after-school-care-brochure-cover.970x.jpg"
        alt="Colorful After School Care Brochure">
    </a>
  </div>
  <div class="tumli-product__content">
    <div class="tumli-product__content-text">
      <div class="h3 mb-0 mt-0 tumli-product__title">
        <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
          target="_blank" class="">
          Colorful After
          School Care Brochure
        </a>
      </div>
    </div>
  </div>
  <div class="tumli-product__info">
    <div class="tumli-product__shares">
    </div>

    <div class="tumli-product__info-links">
      <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank" class="tumli-product__price tumli-product__price--paid">
        $12
      </a>
    </div>
  </div>
</article>