<header class="flex flex--between mt-l tumli-container flex--align-baseline pb-default">
  <div class="tumli-popular-post__heading h2 mb-0">
    <span class="tumli-popular-post__title">
      <a href="#" class="tumli-popular-post__title-scroll" rel="nofollow">
        You May Also Like
      </a>
    </span>
  </div>
  <a class="flex--00-auto link-style-9" href="https://tumli.net/journal" rel="nofollow">
    All Products
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
      viewBox="0 0 24 24" version="1.1">
      <g transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
        <polygon points="15.41 7.41 14 6 8 12 14 18 15.41 16.59 10.83 12"></polygon>
      </g>
    </svg>
  </a>
</header>
<div class="tumli-container">
  <hr>
</div>
<div class="full-container-wrapper">
  <div class="tumli-post-carousel-wrapper">
    <div class="tumli-container">
      <div class="tumli-post-carousel pt-l-sm pt-l-xs pt-xl-md">
        <div class="tumli-post-carousel__items">

          //= ./YouMayAlsoLikeItem.html
          //= ./YouMayAlsoLikeItem.html
          //= ./YouMayAlsoLikeItem.html
          //= ./YouMayAlsoLikeItem.html

        </div>
      </div>
    </div>
  </div>
</div>