.user-settings-avatar {
  border-radius: 50%;
  object-fit: cover;

  @media(max-width: $tablet - 1px) {
    width: 140px;
    height: 140px;
  }

  @media(min-width: $tablet) {
    width: 140px;
    height: 140px;
  }
}
