            <!-- Profile notification form -->
            <form class="tumli-form" action="//profile-notification" data-testing="test_loading">
              <!-- 
                  data-testing="test_loading"
                  data-testing="test_inputs_errors"
                  data-testing="test_500_error" 
                -->
              <!-- Title -->
              <h2 class="h3 flex flex--between flex--align-center">
                <span>Email Notifications</span>
                <span class="tumli-form__success-text text-style-7 success-color">Saved</span>
              </h2>
              <!-- /Title -->

              <fieldset>
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </fieldset>

              <fieldset>
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </fieldset>

              <fieldset class="mb-0">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </fieldset>

              <button class="display-none" type="submit"></button>

            </form>
            <!-- /Profile notification form -->