        <!-- Box -->
        <!-- Profile billing form -->
        <form action="//profile-billing" class="content-form-box content-form-box--maxwidth-unset"
          data-testing="test_loading">
          <!-- 
                  data-testing="test_loading"
                  data-testing="test_inputs_errors"
                  data-testing="test_500_error" 
                -->
          <!-- Box Body -->
          <div class="content-form-box__body">
            <!-- Title -->
            <h2 class="h3 flex flex--align-center mb-0">
              <span class="flex--11-auto">Billing Informational</span>
              <span
                class="tumli-form__success-text text-style-7 success-color flex--00-auto ml-auto pr-default">Saved</span>
              <a class="link-style-2 flex--00-auto" href="#" data-modal-id="new-card" data-modal-action="open">Add new
                Card</a>
            </h2>
            <!-- /Title -->
          </div>
          <!-- /Box Body -->

          <!-- Box Footer -->
          <label class="content-form-box__footer billing-card p-0">
            <input type="radio" required="" name="agree">
            <div class="billing-card__body full-width">

              <div class="full-width grid grid--col-7 grid--gap-col-sm box-model-5 flex--align-center">
                <div class="grid__item grid__item--col-2 grid__item--col-mobile-4">
                  <div class="tumli-radiobox flex">
                    <span class="tumli-radiobox__icon flex--00-auto mt-xs">
                    </span>
                    <span class="tumli-radiobox__text flex--11-auto u-ellipsis u-overflow-hidden text-nowrap"
                      title="MASTERCARD">
                      MASTERCARD
                    </span>
                  </div>
                </div>

                <div class="grid__item grid__item--col-2 grid__item--col-mobile-2">
                  <span class="hide--mobile">****</span> <span class="hide--mobile">****</span> <span
                    class="hide--mobile">***</span>* 4252
                </div>

                <div class="grid__item grid__item--col-2 hide--mobile">
                  Expires 05/2024
                </div>

                <div class="grid__item grid__item--col-1 text-right grid__item--col-mobile-1 flex flex--justify-end">
                  <a class="link-style-2" href="#" data-modal-id="edit-card" data-modal-action="open">Edit</a>
                </div>
              </div>

            </div>
          </label>

          <label class="content-form-box__footer billing-card p-0">
            <input type="radio" required="" name="agree">
            <div class="billing-card__body full-width">

              <div class="full-width grid grid--col-7 grid--gap-col-sm box-model-5 flex--align-center">
                <div class="grid__item grid__item--col-2 grid__item--col-mobile-4">
                  <div class="tumli-radiobox flex">
                    <span class="tumli-radiobox__icon flex--00-auto mt-xs">
                    </span>
                    <span class="tumli-radiobox__text flex--11-auto u-ellipsis u-overflow-hidden text-nowrap"
                      title="MASTERCARD">
                      MASTERCARD
                    </span>
                  </div>
                </div>

                <div class="grid__item grid__item--col-2 grid__item--col-mobile-2">
                  <span class="hide--mobile">****</span> <span class="hide--mobile">****</span> <span
                    class="hide--mobile">***</span>* 4252
                </div>

                <div class="grid__item grid__item--col-2 hide--mobile">
                  Expires 05/2024
                </div>

                <div class="grid__item grid__item--col-1 text-right grid__item--col-mobile-1 flex flex--justify-end">
                  <a class="link-style-2" href="#" data-modal-id="edit-card" data-modal-action="open">Edit</a>
                </div>
              </div>

            </div>
          </label>
          <!-- /Box Footer -->

          <button class="display-none" type="submit"></button>
        </form>
        <!-- Profile billing form -->
        <!-- /Box -->