<article
  class="block tumli-product tumli-product--editable is-show min-full-height tumli-product--collection link-style-3 collection-drop-item">
  <a href="#" class="block box-shadow-on-drag-enter u-br-bl-default u-br-br-default" data-article-hover-item>
    <div
      class="full-width tumli-carousel tumli-carousel--always-desktop tumli-carousel--full-nav tumli-carousel--top">
      <div class="tumli-carousel__items">

        <div class="tumli-carousel__item u-br-tl-default u-br-tr-default">
          //= ./partials/collectionThumb.html
        </div>

        <div class="tumli-carousel__item u-br-tl-default u-br-tr-default">
          //= ./partials/collectionThumb.html
        </div>

        <div class="tumli-carousel__item u-br-tl-default u-br-tr-default">
          //= ./partials/collectionThumb.html
        </div>

      </div>

      //= ../partials/carouselNavs.html

    </div>

    //= ./partials/collectionContent.html
  </a>

  <div class="tumli-product__info" data-article-hover-item>
    <div class="tumli-product__shares">
      //= ./partials/collectionDropdown.html
    </div>
  </div>

  //= ../partials/removeBlock.html
  //= ../partials/editBlock.html

</article>