<article class="tumli-product tumli-product--editable is-show min-full-height">

  <!-- data-product-id - потрібний для того, щоб додати його до колекції -->
  <!-- data-image-src - картинка -->
  <a href="#" class="block link-style-3 u-br-default" data-article-hover-item draggable="true" data-image-src="https://dev.tumli.net/files/uploads/2019/4/17/1555498079.balance/balance-clothes-colors-cover.970x.jpg" data-image-alt="Archive test 2.zip">
    <div class="tumli-product__thumb">
      <div class="image-hover tumli-product__thumb-img-wrapper tumli-product__thumb-img-wrapper--ratio-1:0.7">
        <img
          src="https://dev.tumli.net/files/uploads/2019/4/17/1555498079.balance/balance-clothes-colors-cover.970x.jpg"
          alt="Archive test 2.zip">
      </div>
    </div>

    //= ./partials/productContent.html
  </a>

  <div class="tumli-product__info flex--align-center" data-article-hover-item>
    <div class="tumli-product__shares">
      //= ./partials/productDropdown.html
    </div>

    <div class="tumli-product__info-links mt-0">
      <a href="https://dev.tumli.net/files/admin/projects/create" rel="nofollow" target="_blank"
        class="tumli-product__price tumli-product__price--free tumli-product__price--square-icon mt-0 ml-0">
        <svg class="block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z">
          </path>
        </svg>
      </a>
    </div>
  </div>

  //= ../partials/removeBlock.html

</article>