@mixin image-hover {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.35s ease-out, background-color .2s ease-out;
        border-top-left-radius: var(--border-radius-default);
        border-top-right-radius: var(--border-radius-default);
    }

    &--preloader {
        background-image: url(getPreloader(line));
        background-repeat: repeat-y;
        background-size: 100% 1px;
        background-position: 50%;
    }

    &--dark {
        &:before {
            background-color: var(--main-color) !important;
        }

        @include setContentToMedia {
            &:before {
                background-color: var(--main-color) !important;
            }
        }
    }

    &--light-blue {
        &:before {
            background-color: rgba(96, 93, 212, 0.15);
        }

        @include setContentToMedia {
            &:before {
                background-color: rgba(96, 93, 212, 0.15);
            }
        }

        .--hovered &,
        &.--hovered,
        &:hover {
            &:before {
                opacity: 1 !important;
            }
        }
    }

    .--hovered &,
    &.--hovered,
    &:hover {
        &:before {
            opacity: .4;
        }
    }

    &--show-always {
        &:before {
            opacity: .4;
        }

        @include setContentToMedia {
            &:before {
                opacity: .4;
            }
        }

        &-on-touch {
            @media(pointer: coarse) {
                &:before {
                    opacity: .4;
                }
            }
        }
    }

    &--border-radius {
        &-1 {
            border-top-left-radius: var(--border-radius-default);
            border-top-right-radius: 0;
            border-bottom-left-radius: var(--border-radius-default);
            border-bottom-right-radius: 0;

            &:before {
                border-radius: inherit;
            }
        }

        &-2 {
            border-top-left-radius: var(--border-radius-default);
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:before {
                border-radius: inherit;
            }
        }

        &-3 {
            border-radius: var(--border-radius-default);

            &:before {
                border-radius: inherit;
            }
        }

        &-4 {
            border-top-left-radius: var(--border-radius-default);
            border-top-right-radius: 0;
            border-bottom-left-radius: var(--border-radius-default);
            border-bottom-right-radius: 0;

            &:before {
                border-radius: inherit;
            }
        }

        &-5 {
            border-radius: 50%;

            &:before {
                border-radius: inherit;
            }
        }
    }

    &--remove {
        &:before {
            background-color: var(--error-color);
        }
    }

    img {
        border-radius: inherit;
        object-fit: cover;
    }
}

// .--img-loading {
//   background-image: url(getPreloader(old));
//   background-position: 50%;
//   background-repeat: no-repeat;
// }
.image-hover {
    @include image-hover();
}

.image-hover-avatar {
    @include image-hover;
}
