.product-view {
    &-2 {
        $productBorder: 3px;
        padding: 20px;

        width: 238px;
        border: solid $productBorder #eff0f3;

        & + .product-view-2 {
            margin-left: -#{$productBorder};
        }
    }

    &-3 {
        border: solid 1px #e9eaeb;
        max-width: 100%;
        width: 680px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

// Carousel arrows
.project-carousel__nav-prev,
.project-carousel__nav-next {
    width: 45px;
    background-color: #474a4e;

    @media(pointer: fine) {
        transition: background-color .2s ease-in-out, opacity .2s ease-in-out;

        &:hover {
            background-color: #3c3f43;
        }
    }
}
.project-carousel__nav-prev--hide,
.project-carousel__nav-next--hide {
    pointer-events: none;
    opacity: .5;
}

.tns-controls {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-80%);

    button {
        border: none;
        width: 45px;
        height: 45px;
        background-color: #474a4e;

        @media(pointer: fine) {
            transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
    
            &:hover {
                background-color: #3c3f43;
            }
        }
    }
}


/****** Style Star Rating Widget *****/
.rating {
    display: inline-flex;
    flex-direction: row-reverse
}

.rating:not(:checked)>input {
    display: none
}

.rating>label {
    width: 20px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    color: #e2e2e2;
    color: var(--color12);
    line-height: 1;
    flex: 0 0 auto;
    opacity: .8
}

.rating--small>label {
    width: 13px;
    font-size: 13px
}

.rating:not(:checked)>label:before {
    content: "★"
}

.rating>input:checked~label {
    color: var(--color1);
    opacity: 1
}

.rating--inherit-color>input:checked~label {
    color: inherit;
    opacity: 1
}

.rating:not(:checked)>label:hover,.rating:not(:checked)>label:hover~label,.rating>input:checked+label:hover,.rating>input:checked+label:hover~label,.rating>input:checked~label:hover,.rating>input:checked~label:hover~label,.rating>label:hover~input:checked~label {
    color: var(--color1);
    opacity: 1
}

.rating--inherit-color>input:checked+label:hover,.rating--inherit-color>input:checked+label:hover~label,.rating--inherit-color>input:checked~label:hover,.rating--inherit-color>input:checked~label:hover~label,.rating--inherit-color>label:hover~input:checked~label {
    color: inherit;
    opacity: 1
}

// Carousel
.project-tns-slider__item {
    @media(min-width: $desktop) {
        max-width: 264px;
    }
    
    &:not(:last-child) {
        padding-right: 30px;
    }
}

// select
.select-style-1 {
    border: 1px solid #d5d3d3;
    color: var(--second-color);
    padding: 5px 16px;
    min-width: 264px;
    min-height: 39px;
    background-color: var(--white-color);

    &:focus {
        outline: none;
    }
}

.select-style-2 {
    border: none;
    color: var(--second-color);
    padding: 5px 16px;
    min-height: 52px;
    background-color: var(--white-color);

    &:focus {
        outline: none;
    }
}