<div class="tumli-product box-hover-2 js-hover-box hover-box tumli-product--editable is-show full-height collection-drop-item">

  <a href="#" class="grid grid--gap-col-none grid--collection-2 js-hover-box__item link-style-3 box-shadow-on-drag-enter u-br-bl-default u-br-br-default full-height">
    <div class="grid__item flex">

      <div
        class="full-width tumli-carousel tumli-carousel--always-desktop tumli-carousel--full-nav tumli-carousel--top tumli-carousel--top-small tumli-carousel--single-item">

        <div class="tumli-carousel__items full-height">

          //= ./partials/emptyThumb.html
          //= ./partials/emptyThumb.html
          //= ./partials/emptyThumb.html

        </div>

        //= ../partials/carouselNavs.html

      </div>

    </div>

    //= ./partials/collectionContent.html
  </a>

  //= ../partials/removeBlock.html
  //= ./partials/editBlock.html

</div>