<div
  class="tumli-product box-hover-2 js-hover-box hover-box tumli-product--editable is-show full-height"
  data-purchase-product-id="0">

  <a href="#" class="grid grid--gap-col-none grid--collection-product-2 link-style-3 js-hover-box__item  u-br-default" data-article-hover-item draggable="true" data-image-src="https://dev.tumli.net/files/uploads/2019/4/17/1555498079.balance/balance-clothes-colors-cover.970x.jpg" data-image-alt="Archive test 2.zip">
    <div class="grid__item flex">
      //= ./partials/productThumb.html
    </div>
    //= ./partials/productContent.html
  </a>

  //= ../partials/removeBlock.html

</div>
