<!--  tumli-product--collection - додавати клас лише тоді, коли кількість картинок 3 і більше -->
<article class="tumli-product tumli-product--editable is-show full-height collection-drop-item">

  <a href="#" class="block js-hover-box__item box-shadow-on-drag-enter u-br-bl-default u-br-br-default" data-article-hover-item>
    <div
      class="full-width tumli-carousel tumli-carousel--always-desktop tumli-carousel--full-nav tumli-carousel--top tumli-carousel--top-small full-height">
      <div class="tumli-carousel__items full-height">

        <div class="tumli-carousel__item u-br-default">
          //= ./partials/collectionThumb.html
        </div>

        <div class="tumli-carousel__item u-br-default">
          //= ./partials/collectionThumb.html
        </div>

        <div class="tumli-carousel__item u-br-default">
          //= ./partials/collectionThumb.html
        </div>

      </div>

      //= ../partials/carouselNavs.html
    </div>
  </a>

  <div class="tumli-product__info" data-article-hover-item>
    <div class="tumli-product__shares">
      //= ./partials/collectionDropdown.html
    </div>
  </div>
  <!-- </div> -->

  //= ./partials/collectionContent.html

</article>