<article class="tumli-product tumli-post-carousel__item is-show tumli-post-carousel__item--purcahse">
  <div class="tumli-product__thumb">
    <a class="image-hover tumli-product__thumb-img-wrapper square-image-wrapper"
      href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
      target="_blank">
      <img
        src="https://tumli.net/files/uploads/2019/7/10/colorful-after-school-care-brochure-cover/colorful-after-school-care-brochure-cover.970x.jpg"
        alt="Colorful After School Care Brochure">
    </a>
  </div>
  <div class="tumli-product__content">
    <div class="tumli-product__content-text">
      <div class="h3 mb-0 mt-0 tumli-product__title">
        <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
          target="_blank" class="">
          Colorful After
          School Care Brochure
        </a>
      </div>
    </div>
  </div>
  <div class="tumli-product__info">
    <div class="tumli-product__shares">
    </div>
    <div class="tumli-product__info-links">
      <a href="#" data-modal-id="download" data-modal-action="open" data-product-id="605" rel="nofollow"
        class="ml-0 download-icon-wrapper flex--00-auto min-width-unset tumli-product__price tumli-product__price--free">
        <svg class="block absolute-centered" xmlns="http://www.w3.org/2000/svg" width="17" height="17"
          viewBox="0 0 24 24" fill="#fff">
          <path
            d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z">
          </path>
        </svg>
      </a>
    </div>

    <!-- <div class="tumli-product__info-links">
      <a href="https://creativemarket.com/BrandPacks/946359-Trifold-After-School-Care-Template?u=ambr" rel="nofollow"
        target="_blank" class="tumli-product__price tumli-product__price--paid">
        $12
      </a>
    </div> -->
  </div>
</article>