<article class="tumli-carousel__item tumli-product tumli-product--color-price tumli-product--editable">

  <div class="tumli-product__thumb">
    <a class="image-hover tumli-product__thumb-img-wrapper--ratio-1:0.7"
      href="https://dev.tumli.net/files/admin/projects/create" rel="nofollow" target="_blank">
      <img src="https://dev.tumli.net/files/uploads/2019/4/17/1555498079.balance/balance-clothes-colors-cover.970x.jpg"
        alt="Archive test 2.zip">
    </a>


    <div class="tumli-product__info">
      <div class="tumli-product__shares">
        <div class="tumli-dropDown tumli-dropDown--inited">
          <div class="tumli-dropDown__title color4 p-xs">
            <svg class="block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              width="16px" height="4px" viewBox="0 0 16 4" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-532.000000, -31.000000)" fill="currentColor" fill-rule="nonzero">
                  <g transform="translate(528.000000, 21.000000)">
                    <path
                      d="M6,10 C4.9,10 4,10.9 4,12 C4,13.1 4.9,14 6,14 C7.1,14 8,13.1 8,12 C8,10.9 7.1,10 6,10 Z M18,10 C16.9,10 16,10.9 16,12 C16,13.1 16.9,14 18,14 C19.1,14 20,13.1 20,12 C20,10.9 19.1,10 18,10 Z M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 Z" />
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <div class="tumli-dropDown__list-wrapper tumli-dropDown__list-wrapper--aside-left">
            <ul class="tumli-dropDown__list">
              <li>
                <a class="color4 u-font-weight-bold" href="#" data-action="product-show-hide-edit">
                  Edit
                </a>
              </li>
              <li>
                <a class="color4 u-font-weight-bold" href="#" data-action="product-show-hide-remove">
                  Remove
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tumli-product__content tumli-product__content--bigger">
    <div class="tumli-product__content-text">
      <div class="h3 mb-0 mt-0 tumli-product__title">
        <a class="color4 tumli-product__title-text" href="https://dev.tumli.net/files/admin/projects/create" rel="nofollow" target="_blank">
          UI Elements
        </a> <br>
        <span class="text-style-1 color4">
          Saved 18 items
        </span>
      </div>
    </div>
  </div>

  <!-- Remove Block -->
  <div class="tumli-product__remove">
    <div class="h3 mb-0 color4 text-center">
      Are you sure <br>
      to remove the collection?
    </div>
    <footer class="tumli-product__remove-footer link-style-1">
      <a class="color4 u-font-weight-bold mr-default" href="#" data-action="product-remove">
        I’m Sure
      </a>
      <a class="color4 u-font-weight-bold" href="#" data-action="product-show-hide-remove">
        No
      </a>
    </footer>
  </div>
  <!-- /Remove Block -->

  <!-- Edit Block -->
  <div class="tumli-product__edit">

    <form class="mt-0 flex flex--direction-column box-model-6" action="//product-edit" method="GET"
      data-testing="test_loading">
      <!-- 
                      Only for test
                      data-testing="test_loading" 
                      data-testing="test_inputs_errors" 
                      data-testing="test_500_error" 
                    -->

      <input type="text" hidden value="collection-or-product-id">

      <label class="tumli-form__registr-email error">
        <input type="text" name="title" placeholder="New Title" required="required" class="u-none-br-bl u-none-br-br full-width"
          value="Archive test 2.zip">

        <!-- Error -->
        <span class="error__content">Field is not valid</span>
        <span class="error__icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px"
            viewBox="0 0 20 20" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-993.000000, -682.000000)" fill="#DF0F0F" fill-rule="nonzero">
                <path
                  d="M1003,682 C997.48,682 993,686.48 993,692 C993,697.52 997.48,702 1003,702 C1008.52,702 1013,697.52 1013,692 C1013,686.48 1008.52,682 1003,682 Z M1003,697 C1002.45,697 1002,696.55 1002,696 L1002,692 C1002,691.45 1002.45,691 1003,691 C1003.55,691 1004,691.45 1004,692 L1004,696 C1004,696.55 1003.55,697 1003,697 Z M1004,689 L1002,689 L1002,687 L1004,687 L1004,689 Z">
                </path>
              </g>
            </g>
          </svg>
        </span>
      </label>

      <button class="full-width tumli-btn tumli-btn--no-hover form-submit u-none-br-tl u-none-br-tr anim-box"
        type="submit">
        <span class="form-submit__text anim-box__text anim-box__text--1">
          Save Changes
        </span>
        <span class="anim-box__icon anim-box__icon--1">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1" fill="#fff">
            <g transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
              <polygon points="15.41 7.41 14 6 8 12 14 18 15.41 16.59 10.83 12"></polygon>
            </g>
          </svg>
        </span>

        <span class="form-submit__sending"></span>

        <span class="form-submit__success">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
          </svg>
        </span>

        <span class="form-submit__error">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px"
            viewBox="0 0 20 20" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-993.000000, -682.000000)" fill="currentColor" fill-rule="nonzero">
                <path
                  d="M1003,682 C997.48,682 993,686.48 993,692 C993,697.52 997.48,702 1003,702 C1008.52,702 1013,697.52 1013,692 C1013,686.48 1008.52,682 1003,682 Z M1003,697 C1002.45,697 1002,696.55 1002,696 L1002,692 C1002,691.45 1002.45,691 1003,691 C1003.55,691 1004,691.45 1004,692 L1004,696 C1004,696.55 1003.55,697 1003,697 Z M1004,689 L1002,689 L1002,687 L1004,687 L1004,689 Z">
                </path>
              </g>
            </g>
          </svg>
        </span>

      </button>

    </form>

    <footer class="tumli-product__edit-footer link-style-2">
      <a class="u-font-weight-bold" href="#" data-action="product-show-hide-edit">
        Discard Changes
      </a>
    </footer>
  </div>
  <!-- /Edit Block -->
</article>