<section class="tumli-modal left-unset top-unset height-unset-md no-before u-overflow-hidden tumli-modal--no-blocked" data-modal="chat">
    <div class="tumli-modal__content-wrapper u-relative p-0 tumli-chat u-overflow-hidden">
        <div class="tumli-modal__content tumli-chat m-0 min-full-height full-height box-model-1">

            <header class="tumli-modal__header tumli-chat__header bg-accent-color u-br-tl-default-md u-br-tr-default-md p-0">
                <div class="full-width flex-00-auto bg--accent-color color4 p-l flex flex--align-center">
                    <!-- Avatar -->
                    <div class="author-details flex flex-between flex--align-center flex--11-auto">
                        <div class="tumli-author-view__avatar flex--00-auto pr-0 u-relative">
                            <a href="https://dev.tumli.net/journal/author/adminwp" class="image-hover-avatar" rel="nofollow">
                                <img alt="adminwp" src="https://secure.gravatar.com/avatar/34c7bd473f6ab5da3fbed5a7d8847840?s=96&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/34c7bd473f6ab5da3fbed5a7d8847840?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96">
                            </a>
                            <div class="absolute bottom-0 right-0 br-circle bg-success-color-3 u-br-default b-default" style="width: 12px; height: 12px;"></div>
                        </div>

                        <div class="author-details__content flex--11-auto pl-l">
                            <div class="flex flex--between flex--align-center">
                                <div class="flex--00-auto">
                                    <div class="tumli-author-view__position text-style-1 remove-line-height color4">
                                        Oleg Melevych
                                    </div>

                                    <div class="text-style-1 remove-line-height">
                                        Graphic Designer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Avatar -->
                    <a href="#"
                       class="tumli-modal__close flex--00-auto color4" data-modal-id="chat" data-modal-action="close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z">
                            </path>
                        </svg>
                    </a>
                </div>
            </header>

            <div class="tumli-modal__body p-0 u-overflow-hidden u-relative">
                <div class="p-l tumli-chat__body custom-scroll custom-scroll--top-bottom-gradient  mt-0 full-height-xs full-height-sm">
                    //= ../../partials/Chat/alien-message.html

                    //= ../../partials/Chat/capitan-message.html

                    //= ../../partials/Chat/alien-message.html

                    //= ../../partials/Chat/capitan-message.html
                </div>
            </div>

            <footer class="tumli-modal__footer link-style-2 block p-0 u-none-border tumli-chat__footer p-l">
                <form data-form-action="//send-chat-message">
                    <input type="hidden" name="userId" value="ID" />
                    <textarea class="min-height-unset" name="message" cols="1" rows="4" placeholder="Reply to User"></textarea>
                    <div class="flex flex--align-center mt-default">
                        <div class="flex--11-auto mr-auto">
                            <label class="accent-color cursor-pointer inline-block">
                                <svg class="block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M2 12.5C2 9.46 4.46 7 7.5 7H18c2.21 0 4 1.79 4 4s-1.79 4-4 4H9.5C8.12 15 7 13.88 7 12.5S8.12 10 9.5 10H17v2H9.41c-.55 0-.55 1 0 1H18c1.1 0 2-.9 2-2s-.9-2-2-2H7.5C5.57 9 4 10.57 4 12.5S5.57 16 7.5 16H17v2H7.5C4.46 18 2 15.54 2 12.5z" />
                                    <path fill="none" d="M0 0h24v24H0V0z" />
                                </svg>
                                <input type="file" hidden />
                            </label>
                        </div>

                        <div class="flex--00-auto ml-auto">
                            <button type="submit" class="tumli-button tumli-button--style-1 tumli-button--size-small tumli-button--white">
                                Send message
                            </button>
                        </div>
                    </div>
                </form>
            </footer>

        </div>
    </div>
</section>