  <!-- Mobile menu -->
  <section class="tumli-modal tumli-modal--relative-with-header hide-md" data-modal="mobile-menu">
    <div class="tumli-modal__content-wrapper">
      <div class="tumli-modal__content">

        <header class="tumli-modal__header u-none-border">
          <div class="tumli-search full-width">
            <!-- Search -->
            <form class="fill-width" role="search" method="GET" action="https://dev.tumli.net/journal/">
              <input class="full-width" type="search" title="Search form"
                placeholder="What article are you looking for?" value="" name="s">
            </form>
            <!-- /Search -->
          </div>
        </header>

        <div class="tumli-modal__body">

          <ul class="mt-0 p-0 no-list text-style-3 font-size-20">

            <li class="mt-default">
              <!-- Accordion -->
              <label class="tumli-accordion">
                <input type="checkbox" hidden="">

                <span class="tumli-accordion__title pb-0 u-none-border block">
                  <span class="tumli-accordion__title-text mb-0 flex flex--between flex--align-center">
                    Grahics

                    <span class="tumli-accordion__icon block">
                      <svg class="fill-accent-color" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25"></polygon>
                      </svg>
                    </span>
                  </span>
                </span>

                <span class="tumli-accordion__content-wrapper">
                  <span class="tumli-accordion__content u-none-border p-0 block">

                    <!-- Submenu -->
                    <ul class="no-list link-style-3 js-add-list-delay pl-xl">
                      <li class="mt-default">
                        <a href="#">All</a>
                      </li>

                      <li class="mt-default">
                        <a href="#">Tittle 1</a>
                      </li>

                      <li class="mt-default">
                        <a href="#">Tittle 2</a>
                      </li>

                      <li class="mt-default">
                        <a href="#">Tittle 3</a>
                      </li>
                    </ul>
                    <!-- /Submenu -->

                  </span>
                </span>
              </label>
              <!-- /Accordion -->
            </li>

            <li class="mt-default">
              <!-- Accordion -->
              <label class="tumli-accordion">
                <input type="checkbox" hidden="">

                <span class="tumli-accordion__title pb-0 u-none-border block">
                  <span class="tumli-accordion__title-text mb-0 flex flex--between flex--align-center">
                    Themes

                    <span class="tumli-accordion__icon">
                      <svg class="fill-accent-color" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25"></polygon>
                      </svg>
                    </span>
                  </span>
                </span>

                <span class="tumli-accordion__content-wrapper">
                  <span class="tumli-accordion__content u-none-border p-0 block">

                    <!-- Submenu -->
                    <ul class="no-list link-style-3 js-add-list-delay pl-xl">
                      <li class="mt-default">
                        <a href="#">All</a>
                      </li>
                    </ul>
                    <!-- /Submenu -->

                  </span>
                </span>
              </label>
              <!-- /Accordion -->
            </li>

            <li class="mt-default">
              <!-- Accordion -->
              <label class="tumli-accordion">
                <input type="checkbox" hidden="">

                <span class="tumli-accordion__title pb-0 u-none-border block">
                  <span class="tumli-accordion__title-text mb-0 flex flex--between flex--align-center">
                    Templates

                    <span class="tumli-accordion__icon">
                      <svg class="fill-accent-color" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25"></polygon>
                      </svg>
                    </span>
                  </span>
                </span>

                <span class="tumli-accordion__content-wrapper">
                  <span class="tumli-accordion__content u-none-border p-0 block">

                    <!-- Submenu -->
                    <ul class="no-list link-style-3 js-add-list-delay pl-xl">
                      <li class="mt-default">
                        <a href="#">All</a>
                      </li>
                    </ul>
                    <!-- /Submenu -->

                  </span>
                </span>
              </label>
              <!-- /Accordion -->
            </li>

            <li class="mt-default">
              <!-- Accordion -->
              <label class="tumli-accordion">
                <input type="checkbox" hidden="">

                <span class="tumli-accordion__title pb-0 u-none-border block">
                  <span class="tumli-accordion__title-text mb-0 flex flex--between flex--align-center">
                    Freebie

                    <span class="tumli-accordion__icon">
                      <svg class="fill-accent-color" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25"></polygon>
                      </svg>
                    </span>
                  </span>
                </span>

                <span class="tumli-accordion__content-wrapper">
                  <span class="tumli-accordion__content u-none-border p-0 block">

                    <!-- Submenu -->
                    <ul class="no-list link-style-3 js-add-list-delay pl-xl">
                      <li class="mt-default">
                        <a href="#">All</a>
                      </li>
                    </ul>
                    <!-- /Submenu -->

                  </span>
                </span>
              </label>
              <!-- /Accordion -->
            </li>

            <li class="mt-default">
              <a class="mb-0 accent-color" href="#">Unlimited Plans</a>
            </li>

          </ul>

          <!-- Close mobile user setting when open mobile menu -->
          <div class="js-click-on-open hide" data-modal-id="mobile-user-setting" data-modal-action="close"></div>
        </div>

      </div>
    </div>
  </section>
  <!-- /Mobile Menu -->