<a href="#" class="shrink-0 product-view-3 grid grid--col-7 grid--gap-col-none  grid--gap-row-none">

    <div class="grid__item grid__item--col-desktop-3 grid__item--col-7 relative">
        <img class="cover-image block" src="assets/img/posts/1.jpg" alt="">
    </div>

    <div class="grid__item grid__item--col-desktop-4 grid__item--col-7 p-xl">

        <div class="text-style-9 mb-custom-1">
            16 августа 2016
        </div>

        <div class="h3 mb-sm">
            Подробный обзор и выявление
            недостатков навигатора
            DriveAssist 50LMT
        </div>

        <div class="text-style-8">
            Современные технологии буквально с каждым днем все глубже и глубже загоняют в могилу некоторые автомобильные
            девайсы, взять к примеру GPS навигатор. Еще каких-то два-три ...
        </div>

    </div>

</a>
