<div class="project-tns-slider__item">
    <div>
        <a href="#" class="square-image mb-default block">
            <img src="assets/img/products/1.jpg" alt="Product">
        </a>

        <div class="mb-custom-1 flex align-center ustify-between">
            <div class="pr-sm text-style-5">
                Код товара : 39207
            </div>

            <div class="error-color ml-auto">
                Заканчивается
            </div>
        </div>
        
    
        <a href="#" class="link-style-6 block">
            Трансмиссионное масло
            CASTRO Manual EP
            80W-90 1л
        </a>
    
        <div class="flex align-baseline">
            <div class="text-style-7 shrink-0 mr-l">
                456 <span class="currency">грн</span>
            </div>
        </div>
        
    </div>
</div>
