<div class="flex align-center">
    <h2 class="shrink-0 mr-xl mb-0">
        Покупатели выбирают для:
    </h2>

    <div class="">
        <select name="" class="select-style-1">
            <option value="g1">Volkswagen Golf, 1.9</option>
            <option value="g1">Volkswagen Golf, 1.9</option>
            <option value="g1">Volkswagen Golf, 1.9</option>
            <option value="g1">Volkswagen Golf, 1.9</option>
        </select>
    </div>
</div>

<div class="project-tns-slider-wrapper relative pt-default">
    <div class="project-tns-slider flex">

        //= ./UserAlsoChooseItem-1.html
        //= ./UserAlsoChooseItem-2.html
        //= ./UserAlsoChooseItem-1.html
        //= ./UserAlsoChooseItem-2.html
        //= ./UserAlsoChooseItem-1.html
        //= ./UserAlsoChooseItem-2.html
        //= ./UserAlsoChooseItem-1.html
        //= ./UserAlsoChooseItem-2.html

    </div>
</div>