<h2 class="mb-default">
    С этим товаром так же покупают:
</h2>

<div class="tabs">
    <div class="tabs__titles-wrapper">
        <div class="tabs__title-wrapper-scroll tabs__title-wrapper-scroll">
            <label for="1" data-tab-id="1" class="tabs__title tabs__title--style-1">Омыватели</label>
            <label for="2" data-tab-id="2" class="tabs__title tabs__title--style-1">Очистители</label>
            <label for="3" data-tab-id="3" class="tabs__title tabs__title--style-1">Топливные фильтры</label>

            <label for="4" data-tab-id="4" class="tabs__title tabs__title--style-1">Моторное масло</label>
            <label for="5" data-tab-id="5" class="tabs__title tabs__title--style-1">Инструменты для авто</label>
        </div>
    </div>

    <div class="tabs__content-wrapper">
        <input type="radio" name="tab" id="1" checked="checked" hidden>
        <div class="tabs__content" data-tab-id="1">


            <div class="project-tns-slider-wrapper relative pt-default">
                <div class="project-tns-slider flex">

                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html

                </div>
            </div>

        </div>

        <input type="radio" name="tab" id="2" hidden>
        <div class="tabs__content" data-tab-id="2">
            
            <div class="project-tns-slider-wrapper relative pt-default">
                <div class="project-tns-slider flex">

                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html

                </div>
            </div>

        </div>

        <input type="radio" name="tab" id="3" hidden>
        <div class="tabs__content" data-tab-id="3">
            
            <div class="project-tns-slider-wrapper relative pt-default">
                <div class="project-tns-slider flex">

                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html

                </div>
            </div>

        </div>

        <input type="radio" name="tab" id="4" hidden>
        <div class="tabs__content" data-tab-id="4">
            
            <div class="project-tns-slider-wrapper relative pt-default">
                <div class="project-tns-slider flex">

                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html

                </div>
            </div>

        </div>

        <input type="radio" name="tab" id="5" hidden>
        <div class="tabs__content" data-tab-id="5">
            
            <div class="project-tns-slider-wrapper relative pt-default">
                <div class="project-tns-slider flex">

                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html
                    //= ./UserAlsoBuyItem-1.html
                    //= ./UserAlsoBuyItem-2.html

                </div>
            </div>

        </div>
    </div>

</div>