<!-- Notification options -->
<section class="tumli-container box-model-out-indent-b">

  <div class="">
    <label class="block tumli-radiobox">

      <input type="radio" required="" name="user_settings" id="cart-purchase-credit-card" value="">

      <div
        class="input-box input-box--animate-content u-overflow-hidden box-model-1 input-box__hover-bg-on-unchecked input-box__cursor-pointer-on-unchecked">

        <div class="input-box__content">

          <!-- Title -->
          <div class="flex flex--between flex--align-center">

            <div class="flex--11-auto">

              <div class="flex flex--wrap  box-model-default">
                <span class="tumli-radiobox__icon flex--00-auto hide">
                </span>
                <span class="flex--11-auto tumli-radiobox__title">
                  <span class="pl-0 mb-0 h3 h3--remove-line-height flex flex--align-center mr-0">
                    <span class="flex--11-auto input-box__accent-color-on-checked">
                      Notification Options
                    </span>

                    <span class="flex--00-auto input-box__hide-on-checked mr--6">
                      <svg class="block" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <polygon points="7.41 8.84 12 13.42 16.59 8.84 18 10.25 12 16.25 6 10.25" fill="currentColor">
                        </polygon>
                      </svg>
                    </span>
                  </span>
                </span>
              </div>

            </div>

          </div>
          <!-- /Title -->

          <!-- Content show on checked -->
          <form autocomplete="off" data-testing="test_loading" action="//profile-notification-options" method="POST"
            class="input-box__show-on-checked tumli-form">

            <div class="grid grid--col-desktop-4 grid--col-tablet-2 box-model-default-l box-model-default-r grid--gap-col-custom-1">

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1" checked>
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Tumli’s Newsletter <br>
                    <span class="note">
                      Get infrequent Tumli’s updates
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1" checked>
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Special Offers <br>
                    <span class="note">
                      Special offers from Tumli
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </div>

              <div class="grid__item">
                <label class="tumli-checkbox flex">
                  <input type="checkbox" name="agree-1">
                  <span class="tumli-checkbox__icon tumli-checkbox__icon--round flex--00-auto mr-12">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"
                      height="10px" viewBox="0 0 12 10" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-467.000000, -998.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(461.000000, 991.000000)">
                            <polygon points="17.99 9 16.58 7.58 9.99 14.17 7.41 11.6 5.99 13.01 9.99 17"></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="tumli-checkbox__text text-style-7 flex--11-auto u-line-height-1 mt-4">
                    Freshly Baked Assets <br>
                    <span class="note">
                      Get our newest content weekly
                    </span>
                  </span>
                </label>
              </div>

            </div>

            //= ./partials/submitButton.html

          </form>
          <!-- /Content show on checked -->

        </div>

      </div>

    </label>
  </div>

</section>
<!-- /Notification options -->