<div class="tumli-carousel__nav-prev tumli-carousel__nav-prev--vertical-center left-0">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z"></path>
  </svg>
</div>

<div class="tumli-carousel__nav-next tumli-carousel__nav-next--vertical-center right-0">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
    viewBox="0 0 24 24" version="1.1">
    <g transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
      <polygon points="15.41 7.41 14 6 8 12 14 18 15.41 16.59 10.83 12"></polygon>
    </g>
  </svg>
</div>