<!-- Remove Block -->
<div class="tumli-product__remove">
  <div class="h3 mb-0 color4 text-center">
    Are you sure <br>
    to remove the collection?
  </div>
  <footer class="tumli-product__remove-footer link-style-1 remove-line-height">
    <a class="color4 u-font-weight-bold mr-default" href="#" data-action="product-remove">
      I’m Sure
    </a>
    <a class="color4 u-font-weight-bold" href="#" data-action="product-show-hide-remove">
      No
    </a>
  </footer>
</div>
<!-- Remove Block -->